/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Raleway', sans-serif;
}


.custom-font {
    /* it didn't adhere to the whole body */
    font-family: 'Raleway', sans-serif;
}


#app-title {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}


#wrapper {
    width: 80%;
    margin: auto;
}


#component {
    background: white;
}


#component input {
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}


#display p {
    padding: 0.3rem;
}


table {
    background: lightgrey;
    border-radius: 0.6rem;
}

.tableContainer {
    margin: auto;
}


mat-toolbar {
    border-radius: 0.6rem;
}


